:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--purple);
}
/* body:after {
  content:"";
  background: linear-gradient(180deg, #050542 0%, #2E2270 18.23%, rgba(166, 117, 245, 0.13) 100%);
  border-radius: 22px;
  position:absolute;
  top:5%;
  bottom:0;
  right:8%;
  left:8%;
 
} */
main {
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
  header {
	display: flex;
	flex: none;
	justify-self: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: 7.5em;
	border-radius: 2em;
	margin: 0.5em auto 4em;
	width: 50%;
	filter: drop-shadow(-7px 8px 0px #a675f5);
	background-color: var(--blue);
	padding: 20px;
}
  header h1 {
	font-size: 4.5em;
	font-weight: bolder;
	max-width: 10em;
	color: var(--purple);
}
.posts h1 {
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 1rem;
}
.posts ul {
	background: #050542b2;
	/* linear-gradient(
		180deg,
		#050542 0%,
		#2e2270 18.23%,
		rgba(166, 117, 245, 0.13) 100%); */
	border-radius: 22px;
	position: absolute;
	top: 5%;
	bottom: 0;
	right: 5%;
	left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	background: transparent;
}
section ul > li {
	text-decoration: none;
	font-style: italic;
	color: #000;
	background: #ffc;
	display: block;
	border: 1px solid var(--blue);
	border-radius: 11px;
	height: 10em;
	width: 10em;
	padding: 1em;
	box-shadow: -11px 8px var(--blue);
	transform: rotate(-6deg);
	transition: transform 0.15s linear;
	position: absolute;
}
form {
	margin: 1em;
	padding: 38em;
	bottom: 7%;
	height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3em;
}
form input {
	margin: 0;
	padding: 0 1rem;
	border: none;
	border-radius: 11px;
	width: 30em;
	box-sizing: border-box;
	padding: 12px 12px 12px 42px;
	border: 0;
	background: var(--purple);
	box-shadow: -8px 5px 0px #050542;
	color: #fff;
	outline: none;
	opacity: 80%;
	margin-top: -20em;
	outline: none;
	display: flex;
	justify-content: center;
}

 form input::placeholder{
	color: var(--white);
}

 form > button {
	font-weight: bold;
	width: 10em;
	border-radius: 60px;
	border-style: none;
	background-color: var(--purple);
	border: 2px solid var(--blue);
	
	opacity: 80%;
	outline: none;
	transition: 0.2s;
	padding: 1.2em;
	margin-top: -20em;
}

/* section form > button::after {
  content: 'SEND';
  margin-left: -3em;
  top: 20px;
  position: relative;
} */
 form > button:hover {
   
	cursor: pointer;
}
 form > button:active {
	padding-left: 1rem;
	color: var(--white);
}

h1 {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #06D85F;
	margin: 80px 0;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index:99;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .help-screen {
	margin: 70px auto;
	padding: 20px;
	filter: drop-shadow(-7px 8px 0px #a675f5);
	background-color: var(--blue);
	border-radius: 2em;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  .help {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	width: 2em;
	height: 1em;
	border-radius: 60px;
	border-style: none;
	background-color: var(--purple);
	box-shadow: -6px 3px 2px var(--blue);
  }
  .question-mark{
    text-decoration: none;
	font-size: 2.5em;
	font-weight:bolder;
	color: var(--blue);
  }
  .help:hover{
	  padding-left: -1em;
  }
  .help-screen h2 {
	margin-top: 0;
	color: var(--white);
	font-family: Tahoma, Arial, sans-serif;
  }
  .help-screen .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .help-screen .close:hover {
	color: #06D85F;
  }
  .help-screen .content {
	  color: var(--white);
	max-height: 30%;
	overflow: auto;
  }

@media (max-width:40rem){
	header h1{
		font-size:3em;
	}
}
@media (max-width:20rem){
	header h1{
		font-size:2.5em;
	}
}
