:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--purple);
}

/* body:after {
  content:"";
  background: linear-gradient(180deg, #050542 0%, #2E2270 18.23%, rgba(166, 117, 245, 0.13) 100%);
  border-radius: 22px;
  position:absolute;
  top:5%;
  bottom:0;
  right:8%;
  left:8%;
 
} */

main {
	display: flex;
	align-content: space-between;
    flex-direction: column;
}

header {
	flex: 0;
	justify-self: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 2em;
	filter: drop-shadow(-7px 8px 0px #a675f5);
	background-color: var(--blue);
}

header h1 {
	align-self: center;
	font-size: 4.5em;
	font-weight: bolder;
	max-width: 10em;
	color: var(--purple);
	z-index: 100;
}

/* .posts h1 {
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 1rem;
} */
.posts {
	/* background: linear-gradient(
		180deg,
		#050542 0%,
		#2e2270 18.23%,
		rgba(166, 117, 245, 0.13) 100%); */
	background-color:var(--blue) ;
	border: 2px solid var(--green);
	border-radius: 22px;
	overflow-y: scroll;
	gap: 1em;
}

::-webkit-scrollbar {
	background: transparent;
}

section ul > li {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 10em;
	width: 10em;
	padding: 1em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
	transform: rotate(-6deg);
	transition: transform 0.15s linear;
}

form {
	gap: 3em;
	z-index: 1;
}

form button {
	width: 10%;
	height: 3em;
	border-radius: 60px;
	border: 2px solid var(--green);
	color: var(--green);
	background-color: var(--blue);
	box-shadow: -6px 3px 2px var(--blue);
	opacity: 80%;
	transition: 0.2s;
	
}
form input {
	width: 60%;
	height: 3em;
	margin-top: auto;
	border-radius: 60px;
	border: 2px solid var(--green );
	background-color: var(--blue);
	color: var(--white);
	box-shadow: -6px 3px 2px var(--blue);
	opacity: 80%;
	outline: none;
	transition: 0.2s;
	
}


 form input::placeholder{
	color: var(--white);
}

/* form > button, input {
	padding: 1.2em;
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0em;
	margin-bottom: 4em;
} */

form > button span {
	display: none;
}

/* section form > button::after {
  content: 'SEND';
  margin-left: -3em;
  top: 20px;
  position: relative;
} */

form > button:hover {
	padding-left: 0.5em;
}

form > button:active {
	padding-left: 1rem;
	color: red;
}

