:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--purple);
}
/* body:after {
  content:"";
  background: linear-gradient(180deg, #050542 0%, #2E2270 18.23%, rgba(166, 117, 245, 0.13) 100%);
  border-radius: 22px;
  position:absolute;
  top:5%;
  bottom:0;
  right:8%;
  left:8%;
 
} */
main {
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
  header {
	display: flex;
	flex: none;
	justify-self: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: 7.5em;
	border-radius: 2em;
	margin: 0.5em auto 4em;
	width: 50%;
	filter: drop-shadow(-7px 8px 0px #a675f5);
	background-color: var(--blue);
	padding: 20px;
}
  header h1 {
	font-size: 4.5em;
	font-weight: bolder;
	max-width: 10em;
	color: var(--purple);
	z-index: 100;
}
.posts h1 {
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 1rem;
}
.posts ul {
	background: linear-gradient(
		180deg,
		#050542 0%,
		#2e2270 18.23%,
		rgba(166, 117, 245, 0.13) 100%);
	border-radius: 22px;
	position: absolute;
	top: 5%;
	bottom: 0;
	right: 5%;
	left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	background: transparent;
}
section ul > li {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 10em;
	width: 10em;
	padding: 1em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
	transform: rotate(-6deg);
	transition: transform 0.15s linear;
	position: absolute;
}
form {
	margin: 1em;
	padding: 38em;
	bottom: 7%;
	height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3em;
}
form input {
	margin: 0;
	padding: 0 1rem;
	border: none;
	border-radius: 11px;
	width: 30em;
	box-sizing: border-box;
	padding: 12px 12px 12px 42px;
	border: 0;
	background: var(--purple);
	box-shadow: -8px 5px 0px #050542;
	color: #fff;
	outline: none;
	opacity: 80%;
	margin-top: -20em;
	outline: none;
	display: flex;
	justify-content: center;
}

 form input::placeholder{
	color: var(--white);
}

 form > button {
	width: 10em;
	border-radius: 60px;
	border-style: none;
	background-color: var(--green);
	box-shadow: -6px 3px 2px var(--blue);
	border: 0;
	opacity: 80%;
	outline: none;
	transition: 0.2s;
	padding: 1.2em;
	z-index: 999;
	margin-top: -20em;
}

 form > button span {
	display: none;
}
/* section form > button::after {
  content: 'SEND';
  margin-left: -3em;
  top: 20px;
  position: relative;
} */
 form > button:hover {
	padding-left: 0.5em;
}
 form > button:active {
	padding-left: 1rem;
	color: red;
}